<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autoreminder Telegram</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div id="app">
      <div class="md:container md:mx-auto px-5 text-gray-500">
        <div class="my-5">
          <h1 class="text-3xl text-blue-400 fw-bold">Sheetfy</h1>
          <div class="-mt-4">
            <span class="text-gray-500 -mt-8">Telerimenders from data exl</span
            ><span class="text-blue-400 fw-bold text-4xl">.</span>
          </div>
        </div>
        <div class="py-2 mt-2">
          <div>Total File on schedule : {{ total_file }}</div>
          <div>Last Upload : <b>{{ file_date }}</b></div>
          <div class="mt-2 text-xs text-red-500">
            * Server akan mengecek dan mengirimkan notif setiap pukul 19.00 WIB,
            <br />
            tapi anda dapat mengetes manual dengan klik tombol dibawah ini:
          </div>
        </div>
        <div class="my-5">
          <button
            @click="test()"
            class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Send & Test Data
          </button>
          <div v-if="callback_check">
            Data berhasil di tes, silahkan cek Telegram!
          </div>
        </div>
        <div
          v-if="name_file"
          class="mt-5 mb-2 p-2 rounded text-center bg-blue-100 text-gray-500"
        >
          {{ name_file }}
        </div>

        <div v-if="!name_file" id="upload">
          <div class="flex items-center justify-center w-full">
            <label
              for="dropzone-file"
              class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
            >
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg
                  aria-hidden="true"
                  class="w-10 h-10 mb-3 text-gray-400"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
                  ></path>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold">Click to upload</span> or drag and
                  drop
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  SVG, PNG, JPG or GIF (MAX. 800x400px)
                </p>
              </div>
              <input
                @change="previewFiles"
                id="dropzone-file"
                type="file"
                class="hidden"
              />
            </label>
          </div>
        </div>

        <div class="mt-5 text-right">
          <button
            @click="submitFile()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Upload
          </button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  new Vue({
    el: "#app",
    data() {
      return {
        data: "",
        last: "",
        callback: "",
        file: "",
        loading: "",
        name_file: false,
        total_file: "-",
        file_date: "",
        callback_check: false,
        url: `${window.location.protocol}//${window.location.host}`,
      };
    },
    mounted() {
      this.count();
      console.log(this.url);
    },
    methods: {
      previewFiles(event) {
        this.name_file = event.target.files[0].name;
        this.file = event.target.files[0];
        console.log(event.target.files[0].name);
      },
      count() {
        axios.get(this.url + "/count").then((res) => {
          this.total_file = res.data.total_file_row;
          this.file_date = res.data.file_uploaded;
        });
      },
      test() {
        axios.get(this.url + "/check-today").then((res) => {
          this.callback_check = true;
        });
      },
      submitFile() {
        this.loading = "loading.....";
        let formData = new FormData();
        formData.append("data", this.file);

        console.log("submit file");
        axios
          .post(this.url + "/upload", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((r) => {
            this.name_file = "Data Berhasil di upload! . . . .";
            this.callback = r;
            this.loading = "";
            // setTimeout(() => {
            //   window.location.reload();
            // }, 1000);
          })
          .catch((e) => {
            console.log(e);
            this.callback = e;
          });
      },
    },
  });
</script>
